
# ignore all types of ROM files
*.z64
*.v64
*.n64

# and all types of binary data files
*.bin
*.bin*
*.bak
*.bak*
*.blend
*.blend*

*__pycache__*
*.cache
assets/*
!assets/.gitkeep
exports/*
!exports/.gitkeep
BlenderAddOn/exports/*
!BlenderAddOn/exports/.gitkeep
.vs/*
.vscode/*
BlenderAddOn/.vs/*
BlenderAddOn/.vscode/*
BlenderAddOn/REBOOT_BLENDER.bat
